* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-darkgreen, black);
    color: var(--color-creamish, white);
}

:root {
    --h1-fs: 2rem;
    --h3-fs: 1.5rem;
    --h4-fs: 1.2rem;
    --p-fs: 1.1rem;

    --p-fw: 600;
    
    --color-creamish: #EAD7BD;
    --color-darkgreen: #424436;
    --color-orangeish: #B45427;
}


/* both form and contact */
#form, 
#contact {
    margin-bottom: 1.5rem;
}  

.heading h1 {
    text-align: center;
    font-size: var(--h1-fs, initial);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content form {
    display: flex;
    flex-direction: column;
}

.content form > div {
    display: flex;
    flex-direction: column;
    margin: 0 0 0.7rem 0;
}

.content form label,
.content p {
    font-size: var(--p-fs, initial);
    letter-spacing: 0.7px;
}

.content form input {
    border: solid 1px;
    border-radius: 3px;
    width: 100%;
    height: 1.6rem;
    margin: 0.3rem 0 0 0;
}

.content form textarea {
    border: solid 1px;
    border-radius: 3px;
    width: 100%;
    height: 6rem;
} 

.content form button {
    background-color: var(--color-orangeish, initial);
    border: solid 1px;
    border-radius: 10px;
    width: fit-content;
    padding: 0.5rem;
    margin: 1rem;
    font-size: var(--p-fs, initial);
    font-weight: var(--p-fw, initial);
    cursor: pointer;
    align-self: center;
    transition: all 0.2s ease-in-out;
}

.content form button:hover {
    transform: scale(1.4);
}



/* form */
#form {
    background: linear-gradient(var(--color-orangeish, initial) 65%, var(--color-darkgreen) 65%);
}

#form .heading {
    height: 6rem;
    position: relative;
    
}

#form .content {
    /* width: 100%; */
    /* margin: auto; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    border: solid 2px var(--color-creamish, initial);
    /* margin-left: 1rem;
    margin-right: 1rem; */
    border-radius: 20px;
}

#form .content .donor-info {
    
}

#form .content .payment-info {
    margin-top: 1.5rem;
}

#form .content .content-name {
    margin-bottom: 1rem;
    font-size: var(--h4-fs, initial);
    word-spacing: 3px;
    letter-spacing: 0.7px;
}

#form .content .payment-info .secure {
    display: block;
}

#form .content .payment-info .secure input,
#form .content .payment-info .secure label {
    width: auto;
    height: auto;
    display: inline;
}

#form .donation-info {
    /* width: 100%; */
    /* margin: auto; */
    padding: 1.5rem 1.5rem 0 1.5rem;      
    text-align: center;
}

#form .donation-info .content-name {
    font-size: var(--h3-fs, initial);
}

#form .donation-info p {
    text-align: center;
    font-size: var(--p-fs, initial);
    letter-spacing: 0.7px;
    margin-top: 0.5rem;
    overflow: auto;
}


/* contact */
#contact .heading {
    border: solid 3px orchild;
    height: 8rem;
    background-color: var(--color-orangeish, initial);
    position: relative;
}

#contact .heading h1 {
    text-align: center;
    /* font-size: var(--h1-fs, initial);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border: solid 2px;
    padding: 1rem;
    white-space: nowrap;
    background-color: var(--color-orangeish);
}

#contact .content .content-name {
    margin-bottom: 1rem;
    font-size: var(--h4-fs, initial);
    font-weight: var(--p-fw, initial);
    letter-spacing: 0px;
    text-align: center;
    white-space: nowrap;
}

#contact .content {
    /* margin-left: 1rem;
    margin-right: 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

#contact .content ul {
    list-style: none;
    margin-top: 1rem;
    display: flex; 
    justify-content: center;
    column-gap: 2rem;
}

#contact .content img {
    height: 2rem;
}

#contact .map {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#contact .map iframe {
    width: 100%;
    height: 250px;
}

#contact .site-info {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    /* border: dashed 2px red; */
}

#contact .site-info img {
    filter: invert(1);
    background-color: transparent;
}

