* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-darkgreen, black);
    color: var(--color-creamish1, white);
    font-family: 'Poppins', sans-serif;
}

:root {
    --h1-fs: 2rem;
    --h3-fs: 1.5rem;
    --h4-fs: 1.2rem;
    --p-fs: 1.1rem;

    --p-fw: 600;
    
    --color-creamish: #DDB990;
    --color-creamish1: #EAD7BD;
    --color-darkgreen: #424436;
    --color-orangeish: #B45427;
}


/* nav bar */
nav .nav-sec {
    /* background-color: var(--color-creamish1, initial); */
    background-color: white;
    padding: 10px 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .nav-sec li {
    /* background-color: var(--color-creamish1, initial); */
    background-color: white;
    position: relative;
}

nav .nav-sec li a {
    /* background-color: var(--color-creamish1, initial); */
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: "Rozha One", serif;
    text-decoration: none;
}

nav .nav-sec .nav-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -7%;
    width: 0;
    height: 3px;
    background-color: var(--color-orangeish, inital);
    transition: width 0.3s ease;
}

nav .nav-sec .nav-item:hover::after {
    width: 114%;
    background-color: var(--color-orangeish, initial);
}

nav .nav-sec .logo img {
    height: 50px;
    width: auto;
    margin: 0 15px;
    transform: scale(6) translateY(7%);
    object-fit: cover;
    background-color: white;
    background: transparent;
}


/* both form and contact */
#form, 
#contact {
    margin-bottom: 1.5rem;
}  

.heading h1 {
    text-align: center;
    font-size: var(--h1-fs, initial);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content form {
    display: flex;
    flex-direction: column;
}

.content form > div {
    display: flex;
    flex-direction: column;
    margin: 0 0 0.7rem 0;
}

.content form label,
.content p {
    font-size: var(--p-fs, initial);
    letter-spacing: 0.7px;
}

.content form input {
    border: solid 1px;
    border-radius: 3px;
    width: 100%;
    height: 1.6rem;
    margin: 0.3rem 0 0 0;
}

.content form textarea {
    border: solid 1px;
    border-radius: 3px;
    width: 100%;
    height: 6rem;
} 

.content form button {
    background: linear-gradient(45deg, var(--color-orangeish), #cf5a24);
    border: none;
    border-radius: 50px;
    width: fit-content;
    padding: 0.75rem 1.5rem;
    margin: 1rem;
    font-size: 20px;
    font-weight: var(--p-fw, initial);
    cursor: pointer;
    align-self: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.content form button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}




/* form */
#form {
    background: linear-gradient(var(--color-orangeish, initial) 65%, var(--color-darkgreen) 65%);
}

#form .heading {
    height: 6rem;
    position: relative;
    
}

#form .content {
    /* width: 100%; */
    /* margin: auto; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    border: solid 2px var(--color-creamish, initial);
    /* margin-left: 1rem;
    margin-right: 1rem; */
    border-radius: 20px;
}

#form .content .donor-info {
    
}

#form .content .payment-info {
    margin-top: 1.5rem;
}

#form .content .content-name {
    margin-bottom: 1rem;
    font-size: var(--h4-fs, initial);
    word-spacing: 3px;
    letter-spacing: 0.7px;
}

#form .content .payment-info .secure {
    display: block;
}

#form .content .payment-info .secure input,
#form .content .payment-info .secure label {
    width: auto;
    height: auto;
    display: inline;
}

#form .donation-info {
    /* width: 100%; */
    /* margin: auto; */
    padding: 1.5rem 1.5rem 0 1.5rem;      
    text-align: center;
}

#form .donation-info .content-name {
    font-size: var(--h3-fs, initial);
}

#form .donation-info p {
    text-align: center;
    font-size: var(--p-fs, initial);
    letter-spacing: 0.7px;
    margin-top: 0.5rem;
    overflow: auto;
}


/* contact */
#contact .heading {
    height: 8rem;
    background-color: var(--color-darkgreen, initial);
    position: relative;
}

#contact .heading h1 {
    text-align: center;
    /* font-size: var(--h1-fs, initial);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border: solid 2px;
    padding: 1rem;
    white-space: nowrap;
    background-color: var(--color-darkgreen, initial);
}

#contact .content .content-name {
    margin-bottom: 1rem;
    font-size: var(--h4-fs, initial);
    font-weight: var(--p-fw, initial);
    letter-spacing: 0px;
    text-align: center;
    white-space: nowrap;
}

#contact .content {
    /* margin-left: 1rem;
    margin-right: 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

#contact .content ul {
    list-style: none;
    margin-top: 1rem;
    display: flex; 
    justify-content: center;
    column-gap: 2rem;
}

#contact .content img {
    height: 2.2rem;
    transition: content 0.2s ease;
}

#contact .content ul #twitter,
#contact .content ul #youtube {
    filter: invert(1);
    background: transparent;
}

#contact .content ul #facebook:hover {
    content: url(icon-images/Facebook_Logo_Primary.png);
    background: transparent;
}

#contact .content ul #twitter:hover {
    content: url(icon-images/logo-twitter-png-47449.png);
    filter: invert(0);
}

#contact .content ul #instagram:hover {
    content: url(icon-images/Instagram_Glyph_Gradient.png);
    background: transparent;
}

#contact .content ul #youtube:hover {
    content: url(icon-images/youtube_social_icon_red.png);
    filter: invert(0);
}

#contact .map {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#contact .map iframe {
    width: 100%;
    height: 250px;
}

#contact .site-info {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    /* border: dashed 2px red; */
}

#contact .site-info img {
    filter: invert(1);
    background-color: transparent;
}


/* footer */
footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px 0;
}

footer p {
    background-color: white;
    color: black;
    margin: 0;
    font-size: 0.9rem;
}